 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/20190909_104127.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 921px;
}

.u-section-1 .u-group-1 {
  width: 732px;
  min-height: 451px;
  height: auto;
  margin: 305px -39px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 84px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 288px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-group-1 {
    width: 823px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 60px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-group-1 {
    width: 630px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 21px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    margin-right: 107px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 198px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 79px;
    margin-left: 94px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-video-1 {
  width: 581px;
  height: 608px;
  margin: 50px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 593px;
  min-height: 438px;
  height: auto;
  background-image: linear-gradient(#e5e5e5, #0192de);
  margin: -523px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  width: 183px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  padding: 0;
}

.u-section-2 .u-text-2 {
  width: 395px;
  font-size: 1.25rem;
  margin: 52px auto 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 38px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    height: 607px;
  }

  .u-section-2 .u-group-1 {
    width: 374px;
    min-height: 423px;
    margin-top: -511px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-2 {
    width: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-video-1 {
    width: 442px;
    height: 588px;
    margin-top: 69px;
  }

  .u-section-2 .u-group-1 {
    width: 316px;
    min-height: 534px;
    margin-top: -565px;
    margin-right: -30px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 210px;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 442px;
    min-height: 565px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-video-1 {
    height: 452px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  min-height: 374px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 374px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-3 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 80px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 54px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 374px;
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: 90px auto 0;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 44px 0 0;
}

.u-section-3 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 35px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 374px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: 90px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 44px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 35px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 374px;
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-3 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-3 .u-icon-4 {
  height: 50px;
  width: 50px;
  margin: 80px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 54px 20px 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    height: 41px;
    width: 41px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-3 .u-icon-2 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-icon-4 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 28px;
    margin-left: 44px;
    position: relative;
  }

  .u-section-3 .u-text-8 {
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    width: 299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 34px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-4 {
    width: 323px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-3 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-icon-4 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 23px;
    margin-right: 23px;
    width: 364px;
  }

  .u-section-3 .u-text-8 {
    width: 326px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    height: 45px;
    width: 45px;
    margin-top: 80px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: 280px;
  }

  .u-section-3 .u-icon-2 {
    height: 45px;
    width: 45px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 302px;
    margin-top: 20px;
  }

  .u-section-3 .u-icon-3 {
    height: 45px;
    width: 45px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: 344px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-4 {
    height: 45px;
    width: 45px;
    margin-top: 80px;
  }

  .u-section-3 .u-text-7 {
    width: 341px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    width: 305px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1497px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 46px;
    padding: 9px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 64px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 46px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    width: 340px;
    margin-top: 31px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 362px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 64px;
  }

  .u-section-3 .u-text-7 {
    width: 340px;
    margin-top: 44px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 31px;
  }
} .u-section-4 {
  min-height: 603px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 603px;
  background-image: url("images/20221219_144410.jpg");
  background-position: 50% 46.63%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 603px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 79px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 49px -21px 0 58px;
}

.u-section-4 .u-text-2 {
  margin: 45px 2px 0 81px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 92px auto 0 431px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-right: -31px;
    margin-left: 56px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-right: -8px;
    margin-left: 71px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 56px;
    margin-left: 184px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
    margin-right: 52px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
    margin-right: 67px;
    margin-left: 55px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 50px;
    margin-left: 125px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1008px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 504px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
    margin-right: 137px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 31px;
    margin-right: 121px;
    margin-left: 89px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 47px;
    margin-left: 230px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1072px;
  }

  .u-section-4 .u-image-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 38px;
    margin-right: 100px;
    margin-left: 89px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 36px;
    margin-left: 138px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 586px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 105px;
  font-size: 2.25rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 387px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: linear-gradient(to right, #c0c0c0, #0192de);
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: linear-gradient(to right, #c0c0c0, #0192de);
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-6 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-8 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: 21px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 122px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/20221219_143112.jpg");
  min-height: 442px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  background-image: linear-gradient(#0093d9, #c0c0c0);
  min-height: 442px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/20221219_143822.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  min-height: 219px;
  background-image: url("images/20190909_104256.jpg");
}

.u-section-6 .u-image-4 {
  background-image: url("images/machine-mill-industry-steam-633860.webp");
  min-height: 226px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 442px;
  background-image: linear-gradient(to right, #478ac9, #c0c0c0);
}

.u-section-6 .u-container-layout-6 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-6 .u-text-3 {
  margin: 38px 9px 0;
}

.u-section-6 .u-text-4 {
  margin: 40px 9px 0;
}

.u-section-6 .u-image-5 {
  min-height: 442px;
  background-image: url("images/20221219_143306.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-image-2 {
    min-height: 298px;
  }

  .u-section-6 .u-image-3 {
    min-height: 288px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-4 {
    min-height: 298px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-image-5 {
    background-position: 50% 48.88%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 20px;
    margin-left: 12px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 244px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 299px;
}

.u-section-7 .u-group-1 {
  min-height: 111px;
  width: 802px;
  height: auto;
  margin: 1px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 52px 60px 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1116px;
  margin: 5px auto 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 213px;
}

.u-section-7 .u-image-1 {
  height: 127px;
  width: 174px;
  margin: 12px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-2 {
  width: 187px;
  height: 303px;
  margin: -74px auto -46px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-3 {
  width: 173px;
  height: 183px;
  margin: -12px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-4 {
  width: 173px;
  height: 183px;
  margin: -12px auto 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-5 {
  width: 173px;
  height: 166px;
  margin: 5px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-7 .u-group-1 {
    min-height: 90px;
    width: 661px;
    margin-top: 25px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 920px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-7 .u-image-1 {
    height: 120px;
    width: 164px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-7 .u-image-2 {
    width: 151px;
    height: 151px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-7 .u-image-3 {
    width: 143px;
    height: 173px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 94px;
  }

  .u-section-7 .u-image-4 {
    width: 143px;
    filter: none;
    height: 173px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 191px;
  }

  .u-section-7 .u-image-5 {
    width: 158px;
    height: 139px;
    margin-right: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-7 .u-group-1 {
    width: 507px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 706px;
    margin-left: 7px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-7 .u-image-1 {
    height: 188px;
    width: 258px;
    margin-top: -56px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-7 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-top: -21px;
    margin-bottom: -21px;
  }

  .u-section-7 .u-image-3 {
    width: 227px;
    height: 227px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: -8px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-7 .u-image-4 {
    width: 237px;
    height: 237px;
    margin-top: -67px;
    margin-bottom: -9px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 174px;
  }

  .u-section-7 .u-image-5 {
    width: 245px;
    height: 210px;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 475px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 534px;
    margin-left: 6px;
  }

  .u-section-7 .u-image-1 {
    height: 146px;
    width: 200px;
    margin-top: -14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-7 .u-image-2 {
    width: 426px;
    height: 148px;
    margin-top: -32px;
    margin-right: 47px;
    margin-bottom: -32px;
  }

  .u-section-7 .u-image-3 {
    width: 270px;
    height: 167px;
    margin-top: -30px;
  }

  .u-section-7 .u-image-4 {
    width: 343px;
    height: 213px;
    margin-top: -116px;
    margin-left: 93px;
  }

  .u-section-7 .u-image-5 {
    width: 248px;
    height: 193px;
    margin-top: -135px;
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 336px;
    margin-top: -4px;
    margin-left: 4px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-7 .u-image-1 {
    height: 131px;
    width: 185px;
    margin-top: -8px;
    margin-left: 64px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-7 .u-image-2 {
    width: 288px;
    height: 174px;
    margin: -144px auto 0 15px;
  }

  .u-section-7 .u-image-3 {
    width: 203px;
    height: 193px;
    margin-top: -112px;
    margin-bottom: 0;
    margin-left: 59px;
  }

  .u-section-7 .u-image-4 {
    width: 257px;
    height: 228px;
    margin-top: -180px;
    margin-bottom: 0;
    margin-left: 28px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 30px;
  }

  .u-section-7 .u-image-5 {
    width: 276px;
    height: 157px;
    margin-top: -172px;
    margin-bottom: 0;
    margin-left: 18px;
  }
} .u-section-8 {
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-8 .u-sheet-1 {
  min-height: 806px;
}

.u-section-8 .u-group-1 {
  width: 741px;
  min-height: 364px;
  height: auto;
  margin: 64px auto 0 -171px;
}

.u-section-8 .u-image-1 {
  width: 135px;
  height: 106px;
  filter: brightness(0);
  margin: 42px auto 0;
}

.u-section-8 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 25px 20px 0;
}

.u-section-8 .u-form-1 {
  height: 590px;
  background-image: none;
  margin: -320px 20px 60px 449px;
}

.u-section-8 .u-text-2 {
  margin-left: 0;
  font-size: 1.375rem;
  font-weight: 400;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 11px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 611px;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    width: 111px;
    margin-top: 29px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-form-1 {
    height: 520px;
    margin-top: -324px;
    margin-right: 28px;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-8 .u-group-1 {
    width: 468px;
    margin-top: -7px;
    margin-left: 107px;
  }

  .u-section-8 .u-image-1 {
    width: 85px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-form-1 {
    height: 555px;
    width: 616px;
    margin: -126px auto 38px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-8 .u-group-1 {
    width: 439px;
    margin-top: -16px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 80px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -105px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    width: 67px;
    height: 53px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -162px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }
}