 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/3707613a-1e23-4b58-9b97-895841288c9b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 921px;
}

.u-section-1 .u-group-1 {
  width: 732px;
  min-height: 451px;
  height: auto;
  margin: 305px -39px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 84px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-group-1 {
    width: 823px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 60px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-group-1 {
    width: 630px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 21px;
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    margin-right: 107px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 198px;
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 299px;
}

.u-section-2 .u-group-1 {
  min-height: 111px;
  width: 802px;
  height: auto;
  margin: 1px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 31px;
  padding-right: 31px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 52px 60px 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1116px;
  margin: 5px auto 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 213px;
}

.u-section-2 .u-image-1 {
  height: 127px;
  width: 174px;
  margin: 12px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-2 {
  width: 187px;
  height: 303px;
  margin: -74px auto -46px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-3 {
  width: 173px;
  height: 183px;
  margin: -12px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-4 {
  width: 173px;
  height: 183px;
  margin: -12px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 213px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-5 {
  width: 173px;
  height: 166px;
  margin: 5px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-group-1 {
    min-height: 90px;
    width: 661px;
    margin-top: 25px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 920px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 94px;
  }

  .u-section-2 .u-image-1 {
    height: 120px;
    width: 164px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-2 .u-image-2 {
    width: 151px;
    height: 151px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-2 .u-image-3 {
    width: 143px;
    height: 173px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 94px;
  }

  .u-section-2 .u-image-4 {
    width: 143px;
    filter: none;
    height: 173px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 191px;
  }

  .u-section-2 .u-image-5 {
    width: 158px;
    height: 139px;
    margin-right: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-group-1 {
    width: 507px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 7px;
    margin-right: 28px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 706px;
    margin-left: 7px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 258px;
    margin-top: -22px;
    margin-bottom: -34px;
    margin-left: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-2 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-top: -21px;
    margin-bottom: -21px;
  }

  .u-section-2 .u-image-3 {
    width: 227px;
    height: 227px;
    margin-top: -57px;
    margin-right: auto;
    margin-bottom: -8px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-2 .u-image-4 {
    width: 237px;
    height: 237px;
    margin-top: -67px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 174px;
  }

  .u-section-2 .u-image-5 {
    width: 245px;
    height: 210px;
    margin-top: -53px;
    margin-right: auto;
    margin-bottom: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-2 .u-group-1 {
    width: 475px;
    margin-right: 11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 534px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    height: 146px;
    width: 200px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 162px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 146px;
  }

  .u-section-2 .u-image-2 {
    width: 426px;
    height: 148px;
    margin-top: -23px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-image-3 {
    width: 270px;
    height: 167px;
    margin-top: -30px;
  }

  .u-section-2 .u-image-4 {
    width: 343px;
    height: 213px;
    margin-top: -116px;
    margin-left: 93px;
  }

  .u-section-2 .u-image-5 {
    width: 248px;
    height: 193px;
    margin-top: -135px;
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 336px;
    margin-top: -4px;
    margin-left: 4px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-2 .u-image-1 {
    height: 131px;
    width: 185px;
    margin-top: -12px;
    margin-bottom: 0;
    margin-left: 68px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-2 .u-image-2 {
    width: 288px;
    height: 174px;
    margin-top: -144px;
    margin-bottom: 0;
    margin-left: 15px;
  }

  .u-section-2 .u-image-3 {
    width: 203px;
    height: 193px;
    margin-top: -112px;
    margin-bottom: 0;
    margin-left: 59px;
  }

  .u-section-2 .u-image-4 {
    width: 257px;
    height: 228px;
    margin-top: -180px;
    margin-bottom: 0;
    margin-left: 28px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 276px;
    height: 157px;
    margin-top: -172px;
    margin-bottom: 0;
    margin-left: 18px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 122px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/a739bbf6-c7df-4778-aa66-9eff3504d471.jpg");
  min-height: 442px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  background-image: linear-gradient(#0093d9, #c0c0c0);
  min-height: 442px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/44579b95-bd6c-47ad-bc31-680c0879406d.jpg");
  min-height: 439px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  min-height: 219px;
  background-image: url("images/1d32d3f8-3953-4afe-8927-b8ee16b7bed6.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/Screenshot2023-01-02at9.27.51PM.png");
  min-height: 226px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 442px;
  background-image: linear-gradient(to right, #478ac9, #c0c0c0);
}

.u-section-3 .u-container-layout-6 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-3 .u-text-3 {
  margin: 38px 9px 0;
}

.u-section-3 .u-text-4 {
  margin: 40px 9px 0;
}

.u-section-3 .u-image-5 {
  min-height: 442px;
  background-image: url("images/8f72cfdc-661d-4e05-9682-df6ad1061ea7.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-image-2 {
    min-height: 298px;
  }

  .u-section-3 .u-image-3 {
    min-height: 288px;
  }

  .u-section-3 .u-image-4 {
    min-height: 298px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-5 {
    background-position: 50% 48.88%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 20px;
    margin-left: 12px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 244px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 711px;
}

.u-section-4 .u-group-1 {
  width: 593px;
  min-height: 597px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  margin: 20px 20px 0 27px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 395px;
  margin: 50px auto 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 0;
}

.u-section-4 .u-image-1 {
  width: 527px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-4 .u-group-1 {
    width: 374px;
    min-height: 623px;
    margin-right: 41px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 520px;
    height: 660px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -660px auto -37px -50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-4 .u-group-1 {
    width: 316px;
    min-height: 326px;
    margin-top: 22px;
    margin-right: 180px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: -170px;
    margin-left: -210px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: -139px;
    margin-left: -189px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 51px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 51px;
    margin-left: auto;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-4 .u-group-1 {
    width: 442px;
    min-height: 446px;
    margin-top: 10px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-1 {
    margin-right: -27px;
    margin-left: -72px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 51px;
    margin-right: -27px;
    margin-left: -72px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 116px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 14px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-4 .u-group-1 {
    min-height: 641px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 432px;
    margin: 0 0 30px;
  }
} .u-section-5 {
  min-height: 374px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 374px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-5 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: 80px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 54px 20px 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 374px;
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: 90px auto 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 44px 0 0;
}

.u-section-5 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 35px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 374px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: 90px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 44px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 35px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 374px;
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-5 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-5 .u-icon-4 {
  height: 50px;
  width: 50px;
  margin: 80px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 54px 20px 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 41px;
    width: 41px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-5 .u-icon-2 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-3 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-4 {
    height: 41px;
    width: 41px;
    margin-top: 78px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 44px;
    margin-right: 41px;
    margin-left: 31px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-text-2 {
    width: 299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-top: 35px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 34px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-4 {
    width: 323px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-3 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-icon-4 {
    height: 32px;
    width: 32px;
    margin-top: 108px;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-left: 23px;
    margin-right: 23px;
    width: 364px;
  }

  .u-section-5 .u-text-8 {
    width: 326px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-icon-1 {
    height: 45px;
    width: 45px;
    margin-top: 80px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    width: 280px;
  }

  .u-section-5 .u-icon-2 {
    height: 45px;
    width: 45px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: 302px;
    margin-top: 20px;
  }

  .u-section-5 .u-icon-3 {
    height: 45px;
    width: 45px;
    margin-top: 35px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: 344px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-4 {
    height: 45px;
    width: 45px;
    margin-top: 80px;
  }

  .u-section-5 .u-text-7 {
    width: 341px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: 305px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1448px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 46px;
    padding: 9px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 64px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 60px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 46px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    width: 340px;
    margin-top: 31px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 362px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 64px;
  }

  .u-section-5 .u-text-7 {
    width: 340px;
    margin-top: 44px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 31px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 610px;
}

.u-section-6 .u-video-1 {
  width: 516px;
  height: 619px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 593px;
  min-height: 439px;
  height: auto;
  margin: -577px 0 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Oswald, sans-serif;
  margin: 0 184px 0 166px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 395px;
  margin: 54px auto 0;
}

.u-section-6 .u-btn-2 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 57px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6 .u-video-1 {
    width: 515px;
    margin-left: -49px;
  }

  .u-section-6 .u-group-1 {
    width: 374px;
    margin-top: -553px;
    margin-right: 39px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: 183px;
    margin-top: -6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-6 .u-video-1 {
    width: 442px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 316px;
    min-height: 343px;
    margin-top: 8px;
    margin-right: 180px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 76px;
    margin-left: 57px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 43px;
    margin-right: -114px;
    margin-left: -184px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 50px;
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-6 .u-group-1 {
    width: 442px;
    min-height: 419px;
    margin-right: -50px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 41px;
    margin-right: 244px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 41px;
    margin-right: 49px;
    margin-left: -146px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-6 .u-video-1 {
    height: 408px;
    margin-top: 1px;
    margin-left: -51px;
    margin-right: -51px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 7px;
    min-height: 426px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: 135px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 56px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 586px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 105px;
  font-size: 2.25rem;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 387px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: linear-gradient(to right, #c0c0c0, #0192de);
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: linear-gradient(to right, #0192de, #c0c0c0);
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-4 {
  background-image: linear-gradient(to right, #c0c0c0, #0192de);
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-4 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-6 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-7 .u-text-8 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-9 {
    margin-top: 21px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 668px;
}

.u-section-8 .u-group-1 {
  width: 741px;
  min-height: 364px;
  height: auto;
  margin: 64px auto 0 -171px;
}

.u-section-8 .u-image-1 {
  width: 135px;
  height: 106px;
  filter: brightness(0);
  margin: 42px auto 0;
}

.u-section-8 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 25px 20px 0;
}

.u-section-8 .u-form-1 {
  height: 590px;
  background-image: none;
  margin: -320px 20px 25px 449px;
}

.u-section-8 .u-text-2 {
  margin-left: 0;
  font-size: 1.375rem;
  font-weight: 400;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 11px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-8 .u-group-1 {
    width: 611px;
    margin-top: 60px;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    width: 111px;
    margin-top: 29px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-form-1 {
    height: 520px;
    margin-top: -324px;
    margin-right: 28px;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-8 .u-group-1 {
    width: 468px;
    margin-left: 107px;
  }

  .u-section-8 .u-image-1 {
    width: 85px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-form-1 {
    height: 555px;
    width: 616px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-8 .u-group-1 {
    width: 439px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 80px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    width: 67px;
    height: 53px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -162px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    font-weight: 700;
  }
}